body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header-container {
    display: flex;
    padding: 20px;
    background-color: #f5f5dc;  
}

.photo {
    margin-right: 20px;  
}

.photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;  
}

.greeting h1, #about h2, #subjects h2 {
    margin: 0;
    font-size: 32px;
    color: #333;
}

.greeting p, #about p, #subjects p {
    font-size: 18px;
    color: #555;
}


.menu-container {
    background-color: #F5DEB3;  
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px;
    transition: border 0.3s;
}

nav ul li a:hover {
    border: 2px solid black;  
}


.content-box {
    display: none; 
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #1e88e5;
    font-size: 18px;
}

ul li a:hover {
    text-decoration: underline;
}


:target {
    display: block;
}


form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 18px;
    margin-bottom: 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #8bc34a;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #7cb342;
}


section {
    background-color: white;  
    padding: 20px;  
}

section h2, section p {
    font-size: 18px;  
    color: #555;     
}
footer {
    background-color: #f5f5dc; 
    color: black; 
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Тінь для футера */
}
marquee {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
